<div class="container">
<div class="panel col-md-6 col-md-offset-3" style="margin-top:30px">
    <div class="panel-body">
          <div class="form-group">
              <label>NO RFID </label>
              <input type="text" name="rfid" ng-model="rfid" class="form-control">
          </div>
          <div class="form-group">
            <label>NIM </label>
            <input type="text" name="nim" ng-model="nim" class="form-control">
          </div>
          <div class="form-group">
            <label>Nama </label>
            <input type="text" name="nama" ng-model="nama" class="form-control">
          </div>
          <div class="form-group">
            <label>Jurusan </label>
            <input type="text" name="jurusan" ng-model="jurusan" class="form-control">
          </div>
          <button class="btn btn-primary" ng-click="daftarBaru()">Daftar</button>
          <a href="#/" class="btn btn-danger">Kembali</a>
    </div>
</div>
</div>
