
    <div style="color:#cbcfd4">
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>Halaman Admin</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" ng-model="admin.username" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" ng-model="admin.password" />
              </div>
              <div>
                <button type="submit" class="btn btn-default submit" ng-disabled="form1.$invalid" ng-click="login(admin)">Log in</button>
              </div>

              <div class="alert alert-danger" role="alert" style="display:none" id="error">{{msgTexterror}}</div>
              <div class="alert alert-success" role="alert" style="display:none" id="success">{{msgTextsuccess}}</div>

              <div class="separator">

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> UNIKOM</h1>
                  <p>©2016 All Rights Reserved.</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
