<div id="background"></div>
	<div id="bg" class="ambil-antrian">

		<!-- Header -->
		<div id="bg-header" class="flex">
			<h1> LOKET {{noloket}} ({{nama_loket | uppercase}}) </h1>
		</div>

		<!-- main -->
		<div id="bg-main" class="flex">
			<div id="bg-row" class="flex">
              <span ng-bind="nomor"></span>
			</div>
		</div>

		<!-- Footer -->
		<div id="footer" class="flex">
            <a href="" id="call" class="flex" ng-click="panggilAntrian()">
                PANGGIL LAGI
            </a>
            <a href="#" id="next" class="flex" ng-click="selanjutnya()">
                SELANJUTNYA
            </a>
            <a href="#" id="next" class="flex" ng-click="logout()">
                LOGOUT
            </a>
		</div>

	</div>
    
