<script></script>
<div id="background"></div>
	<div id="bg" class="ambil-antrian">

		<!-- Header -->
		<div id="bg-header" class="flex">
			<h1> LOKET {{noloket}} ({{nama_pelayanan | uppercase}}) </h1>
		</div>


		<!-- main -->
		<div id="bg-main" class="flex">
			<div id="bg-row" class="flex">
              <span ng-bind="nomor"></span>
			</div>

			<div id="tes">
					{{antriansekarang}}
			</div>
			<div ng-bind="jumAntrian"></div>

		</div>


		<!-- Footer -->
		<div id="footer" class="flex">

			<a href="" id="call" class="flex" ng-click="panggilAntrian()">
                PANGGIL LAGI
            </a>
            <a href="#" id="next" class="flex" ng-click="selanjutnya()">
                SELANJUTNYA
            </a>
            <a href="#" id="next" class="flex" ng-click="logout()">
                LOGOUT
            </a>
		</div>
	</div>
	<audio id="nomorurut" src="../public/sound/nomor-urut.wav"  ></audio>
	<audio id="loket" src="../public/sound/loket.wav"  ></audio>

	<audio id="belas" src="../public/sound/belas.wav"  ></audio>
	<audio id="sebelas" src="../public/sound/sebelas.wav"  ></audio>
	<audio id="puluh" src="../public/sound/puluh.wav"  ></audio>
	<audio id="sepuluh" src="../public/sound/sepuluh.wav"  ></audio>
	<audio id="ratus" src="../public/sound/ratus.wav"  ></audio>
	<audio id="seratus" src="../public/sound/seratus.wav"  ></audio>
	<audio id="1" src="../public/sound/1.wav"  ></audio>
	<audio id="2" src="../public/sound/2.wav"  ></audio>
	<audio id="3" src="../public/sound/3.wav"  ></audio>
	<audio id="4" src="../public/sound/4.wav"  ></audio>
	<audio id="5" src="../public/sound/5.wav"  ></audio>
	<audio id="6" src="../public/sound/6.wav"  ></audio>
	<audio id="7" src="../public/sound/7.wav"  ></audio>
	<audio id="8" src="../public/sound/8.wav"  ></audio>
	<audio id="9" src="../public/sound/9.wav"  ></audio>
