<div ng-include="'views/partials/nav.htm'"></div>
<!-- page content -->
<div class="right_col" role="main">
<div class="row">
  <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1">
    <div class="x_panel">
      <div class="x_title">
        <h2>Data Mahasiswa <small>menampilkan list data mahasiswa</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="alert alert-danger" role="alert" style="display:none" id="error">{{msgTexterror}}</div>
        <div class="alert alert-success" role="alert" style="display:none" id="success">{{msgTextsuccess}}</div>
        <div class="col-md-6 col-md-offset-4">
          <a href="#/mahasiswa/daftar" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Tambah Mahasiswa</a>
        </div>
        <table class="table table-bordered" id="datatable">
          <thead>
            <tr>
              <th width="10%">No.RFID</th>
              <th width="10%">NIM</th>
              <th width="18%">Nama</th>
              <th width="15%">Prodi</th>
              <th width="10%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="mhs in mhsdata | startFrom:currentPage*pageSize | limitTo:pageSize">
              <th>{{mhs.no_rfid}}</th>
              <th>{{mhs.nim}}</th>
              <td>{{mhs.nama}}</td>
              <td>{{mhs.prodi}}</td>
              <!--<a ng-href="#/mhs/{{mhs.id_mhs}}" class="btn btn-primary btn-sm">Edit -->
              <td><a ng-href="#/mahasiswa/edit/{{mhs.no_rfid}}" class="btn btn-primary btn-xs">Edit <a ng-click="deleteData(mhs.no_rfid)" class="btn btn-primary btn-xs">Hapus</a></td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-success btn-xs" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
          Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button class="btn btn-success btn-xs" ng-disabled="currentPage >= mhsdata.length/pageSize - 1" ng-click="currentPage=currentPage+1">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
